/* FOR PAGE BUILDING */

/* Fond général */
.Home-container {
  background-color: fff;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: baseline;
  padding-top: 50px;
}

/* Bloc centré */
.Home-content {
  text-align: center;
  background-color:var(--primary);
  border-radius: 0 1rem 1rem;
  padding: 3rem;
}

/* Icône engrenage tournant */
.rotating-icon {
  font-size: 70px;
  color: var(--warning);
  animation: rotate 2s linear infinite;
  margin-bottom: 20px;
}

/* Titre */
.Home-title {
  color: var(--success);
  font-weight: 900;
  font-size: 2.5rem;
  margin: 20px;
}

/* Paragraphe */
.Home-message {
  color: #fff;
  font-size: 1.7rem;
  margin-top: 10px;
  font-weight: 700
;
}
